  /* Seção Principal */
  #main-section {
    height: 100%;
    display: flex;
  }
  
  #sidebar {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 20%;
    background-color: #244f90;
    color: #fff;
    padding: 20px;
  }
  
  #sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #sidebar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
  }
  
  #sidebar li a:hover {
    background-color: #86ace687;
    width: 100%;
  }
  
  /* Conteúdo */
  #content {
    width: 80%;
    padding: 20px;
    background-color: #86ace687;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    
  }
  
  .content-section {
    display: none;
    height: 100%;
  }
  
  .content-section h2 {
    margin-top: 0;
  }
  
  /* Formulários */
  .content-section form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .content-section form input[type="text"],
  .content-section form input[type="password"],
  .content-section form select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
  }
  
  .content-section form button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  button{
    padding: 5px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .admin form button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  
    /* Historico */
    #historico h2{
      height: 5%;
    }
    #div-filtrar{
      height: 10%;
    }
    .historico-table{
      height: 70%;
    }
    #extern-paginacao{
      height: 5%;
    }
    
    
    
    


  /* Tabelas */
  .content-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  #div-filtrar-usuarios{
    display: flex;
    flex-direction: row;
    gap: 10px;
    float: inline-end;
  }

  #div-filtrar-usuarios input{
    padding: 5px 20px;
  }

<<<<<<< Updated upstream
  #div-filtrar-chaves{
    display: flex;
    flex-direction: row;
    gap: 10px;
    float: inline-end;
  }

  #div-filtrar-chaves input{
    padding: 5px 20px;
  }

  #div-filtrar{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  #div-filtrar input{
    padding: 5px 20px;
  }
=======
  .filtro-div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
  }

  .filtro-div input{
    padding: 5px 20px;
    border-radius: 4px;
  }



>>>>>>> Stashed changes
  
  .content-section th,
  .content-section td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  #extern-paginacao{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #paginacao button{ 
    background-color: #33333371;
    border-radius: 30px;
  }