/* Geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}
  
  .main-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  /* Cabeçalho */
  header {
    background: #2160bd;
    color: #fff;
    padding: 0.1em 0;
    text-align: center;
  }
  
  .header-container {
    height: 110px;
  }

  #logo {
    vertical-align: middle;
    margin-right: 10px;
    height: 50px;
  }
  
  /* Login */
  #login-section {
    width: 50%;
    align-self: center;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  #login-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  #login-form input[type="text"],
  #login-form input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
  }
  
  #login-form button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }


  .extern {
    height: 20px;
  }


  
  /* Rodapé */
  footer {
    background: #2160bd;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }