<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Chaves - ICET</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/modal-cadastro.css">
    <link rel="stylesheet" href="../../static/css/dashboard.css">
</head>

<body>
    <header>
        <div class="header-container">
            <h3>Gestão de Chaves</h3>
            <h4><img src="../../static/img/ufam.png" alt="Logo do Instituto de Ciências Exatas e Tecnologia" id="logo">INSTITUTO DE CIÊNCIAS EXATAS E TECNOLOGIA</h4>

        </div>
    </header>

    <div class="extern"></div>

    <main class="main-container">
        <section id="login-section">
            <h2>Login</h2>
            <form id="login-form">
                <div>
                    <label for="username">Usuário:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Entrar</button>
            </form>
        </section>

        <section id="main-section" style="display: none;">
            <nav id="sidebar">
                <ul>
                    <li class="guardinha"><a href="#" id="btn-dashboard">Dashboard Guardinha</a></li>
                    <li class="guardinha"><a href="#" id="btn-gerenciar-emprestimos">Gerenciar Empréstimo</a></li>
                    <li class="guardinha"><a href="#" id="btn-chaves">Visualizar Chaves</a></li>
                    <li class="guardinha"><a href="#" id="btn-registrar-devolucao-chaves">Registrar devolução de Chave</a></li>
                    <li class="admin"><a href="#" id="btn-dashboard">Dashboard Admin</a></li>
                    <li class="admin"><a href="#" id="btn-autorizar-emprestimo">Autorizar Empréstimo</a></li>
                    <li class="admin"><a href="#" id="btn-chaves">Visualizar Chaves</a></li>
                    <li class="admin"><a href="#" id="btn-usuarios">Gerenciar Usuários</a></li>
                    <li class="admin"><a href="#" id="btn-gerenciar-chaves">Gerenciar Chaves</a></li>
                    <li class="admin"><a href="#" id="btn-historico">Histórico de emprestimos</a></li>
                    <li><a href="#" id="btn-logout">Sair</a></li>
                </ul>
            </nav>

            <div id="content">
                <div id="dashboard" class="content-section">
                    <h2>Dashboard</h2>
                    <p>Bem-vindo ao Sistema de Gestão de Chaves!</p>
                </div>

                <!-- Onde os admin podem autorizar o emprestimo de chaves -->
                <div id="autorizar-emprestimo" class="content-section">
                    <h2>Autorizar Empréstimo</h2>
                    
                    <div id="autorizar-emprestimo">
                        <div>
                            <label for="chave-emprestimo">Blocos:</label>
                            <div id="blocos-grid" class="grid-container">
                                <button class="grid-item bloco" data-bloco="A">Bloco A</button>
                                <button class="grid-item bloco" data-bloco="B">Bloco B</button>
                                <button class="grid-item bloco" data-bloco="C">Bloco C</button>
                                <button class="grid-item bloco" data-bloco="D">Bloco D</button>
                            </div>
                            <button type="button" id="btn-voltar-blocos" style="display: none;">Voltar para Blocos</button>
                            <div id="lab-grid" class="grid-container" style="display: none;">
                                <!-- Os laboratórios serão inseridos aqui dinamicamente via JavaScript -->
                            </div>
                            
                        </div>
                        <input type="hidden" id="chave-emprestimo" name="chave-emprestimo" required>
                        
                    </div>
                </div>
                
                <!-- Modal de Autorização de Empréstimo -->
                <div id="modal-autorizar-emprestimo" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2>Autorizar Empréstimo</h2>
                        <form id="autorizar-emprestimo-form" class="form-modal">
                            <div>
                                <label for="nome-externo">Nome:</label>
                                <input type="text" id="usuario-emprestimo" name="usuario-emprestimo" required>
                            </div>
                            <div>
                                <label for="matricula-externo">Matrícula:</label>
                                <input type="text" id="matricula-externo" name="matricula-externo" required>
                            </div>
                            <button type="submit">Autorizar</button>
                        </form>
                    </div>
                </div>
  
  

                <div id="chaves" class="content-section">
                    <h2>Visualizar Chaves</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Tag</th>
                                <th>Descrição</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div id="usuarios" class="content-section admin">
                    <h2>Gerenciar Usuários</h2>
                    <button id="btn-cadastrar-usuario">Cadastrar Usuário</button>

                    <div id="div-filtrar-usuarios" class="filtro-div">
                        <div>
                            <label for="usuario-filtro">Nome:</label>
                            <input type="text" id="usuario-filtro" class="filtro-input">
                        </div>
                        <div>
                            <label for="data-inicio-filtro">Matricula:</label>
                            <input type="text" id="matricula-filtro" class="filtro-input">
                        </div>
                        <button id="btn-filtrar-usuario" class="filtro-button">Filtrar</button>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Email</th>
                                <th>Tipo</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                
                <div id="modal-editar-usuario" class="modal">
                    <div class="modal-content">
                      <span class="close-button" onclick="document.getElementById('modal-editar-usuario').style.display='none';">&times;</span>
                      <h2>Editar Usuário</h2>
                      <form id="form-editar-usuario" class="form-modal">
                        <div>
                          <label for="editar-usuario">Usuário:</label>
                          <input type="text" id="editar-usuario" name="usuario" required>
                        </div>
                        <div>
                          <label for="editar-cpf">CPF:</label>
                          <input type="text" id="editar-cpf" name="cpf" required>
                        </div>
                        <div>
                          <label for="editar-email">Email:</label>
                          <input type="email" id="editar-email" name="email" required>
                        </div>
                        <div>
                          <label for="editar-tipo">Tipo:</label>
                          <input type="text" id="editar-tipo" name="tipo" required>
                        </div>
                        <div>
                          <label for="editar-senha">Senha:</label>
                          <input type="password" id="editar-senha" name="senha">
                        </div>
                        <button type="submit">Salvar</button>
                      </form>
                    </div>
                  </div>
                  
               
                  

                <div id="gerenciar-chaves" class="content-section admin">
                    <h2>Gerenciar Chaves</h2>
                    <button id="btn-cadastrar-chave">Cadastrar Chave</button>

                    <div id="div-filtrar-chaves" class="filtro-div">
                        <div>
                            <label for="chave-filtro">Chave:</label>
                            <input type="text" id="chave-filtro" class="filtro-input">
                        </div>

                        <button id="btn-filtrar-chave" class="filtro-button">Filtrar</button>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Tag</th>
                                <th>Descrição</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                
                <!-- Onde o guardinha registra a devolucao da chave -->
                <div id="registrar-devolucao-chaves" class="content-section admin">
                    <h2>Registrar devolução</h2>
                    <div id="div-filtrar-devolucao" class="filtro-div">
                        <div>
                            <label for="usuario-filtro">Nome:</label>
                            <input type="text" id="nome-devolucao-filtro" class="filtro-input">
                        </div>
                        <div>
                            <label for="data-inicio-filtro">Data:</label>
                            <input type="text" id="data-devolucao-filtro" class="filtro-input">
                        </div>
                        <button id="btn-filtrar-devolucao" class="filtro-button">Filtrar</button>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Tag</th>
                                <th>Data de emprestimo</th>
                                <th>Responsável</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <!-- Onde o guardinha pode verificar todas as autorizaçoes -->
                <div id="gerenciar-emprestimos" class="content-section">
                    <h2>Gerenciar Empréstimo</h2>
                    <form id="emprestimo-form">
                        <div id="div-filtrar" class="filtro-div">
                            <div>
                                <label for="usuario-filtro">Nome:</label>
                                <input type="text" id="nome-filtro" class="filtro-input">
                            </div>
                            <div>
                                <label for="data-inicio-filtro">CPF:</label>
                                <input type="text" id="cpf-filtro" class="filtro-input">
                            </div>
                            <button id="btn-filtrar-devolucao" class="filtro-button">Filtrar</button>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Usuário</th>
                                    <th>Chave</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </form>
                </div>

                <!-- Historico de todos os emprestimos -->
                <div id="historico" class="content-section admin">
                    <h2>Registro de Emprestimos</h2>

                
                    <div id="div-filtrar" class="filtro-div">

                        <div>
                            <label for="responsavel-filtro">Responsável:</label>
                            <input type="text" id="responsavel-filtro" class="filtro-input">
                        </div>
                        <div>
                            <label for="data-inicio-filtro">Data de Início:</label>
                            <input type="date" id="data-inicio-filtro" class="filtro-input">
                        </div>
                        <div>
                            <label for="data-fim-filtro">Data de Fim:</label>
                            <input type="date" id="data-fim-filtro" class="filtro-input">
                        </div>

                        <button id="btn-filtrar-historico">Filtrar</button>

                      

                    </div>

                    <div class="historico-table">
                        <table>
                        <thead>
                            <tr>
                                <th>Tag</th>
                                <th>Responsável</th>
                                <th>Data de emprestimo</th>
                                <th>Data de devoluçao</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    </div>

                    <div id="extern-paginacao">
                      <div id="paginacao"></div>  
                    </div>

                </div>
            </div>
        </section>

    </main>

    <!-- Modal Cadastrar Usuário -->
    <div id="modal-cadastrar-usuario" class="modal">
        <div class="modal-content">
            <span class="close-button">×</span>
            <h2>Cadastrar Usuário</h2>
            <form id="form-cadastrar-usuario" class="form-modal">
                <div>
                    <label for="novo-usuario">Usuário:*</label>
                    <input type="text" id="novo-usuario" name="novo-usuario" required>
                </div>
                <div>
                    <label for="nova-senha">Senha:*</label>
                    <input type="password" id="nova-senha" name="nova-senha" required>
                </div>
                <div>
                    <label for="novo-cpf">RG:</label>
                    <input type="text" id="novo-cpf" name="novo-cpf" required>
                </div>
                <div>
                    <label for="novo-email">Email:</label>
                    <input type="email" id="novo-email" name="novo-email" required>
                </div>
                <div>
                    <label for="tipo-usuario">Tipo de Usuário:*</label>
                    <select id="tipo-usuario" name="tipo-usuario">
                        <option value="Externo">Externo</option>
                        <option value="Administrador">Administrador</option>
                        <option value="Guardinha">Guardinha</option>
                    </select>
                </div>
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>

    <div class="extern"></div>

    <footer>
        <div class="footer-container">
            <p>© 2024 - ICET</p>
        </div>
    </footer>
    <script type="module" src="../../static/js/script.js"></script>
</body>

</html>